<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Parking-Management</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'styles/home.css' %}" />
  </head>
  <body>
    {% include "navbar.html" %} {% block content %}{% endblock content %}
    <script src="" async defer></script>
  </body>
</html>
